.bodyregistry {
    font-family: 'Courier New', Courier, monospace;
    background: #313131;
    text-align: center;
    color: white;
    padding-top: 5%;
}

.regform {
    margin: 20px auto;
    padding: 20px;
    background: white;
    width: 450px;
}

.reginput, .regselect, .regbutton {
    margin: 10px;
    padding: 8px;
    width: 90%;
}

.reginput1{
    margin: 10px;
    padding: 8px;
    width: 90%;
    height: 120px;
    text-align: center;
}


.regbutton {
    background: #4c87af;
    color: white;
    border: none;
    cursor: pointer;
}

.regbutton:hover {
    background: #357b88;
}

.aregister{
    color: white;
}
.aregister1{
    color: white;
    margin: auto;
    text-align: center;
}
.logoreg{
    height: 250px;
    width: 300px;
}
.dashbody{
    font-family: 'Courier New', Courier, monospace;
    background: #313131;
    color: white;
}

.logo{
    height: 120px;
    width: 140px;
    padding: 1%;
}
.dashinfo{
    float: right;
}
.usericon{
    height: 50px;
    width: 50px;
    float: right;
}

.pievienotmajasdarbu{
    text-align: center;
    margin: auto;
    background-color: white;
    height: 450px;
    width: 400px;
}
.pievienotmajasdarbu1{
    text-align: center;
    margin: auto;
    background-color: white;
    height: 450px;
    width: 400px;
    color: black;
}
.dashh3{
    padding-top: 40px;
    color: black;
}