<!DOCTYPE html>
<html>
<head>
    <title>DIENASGRĀMATA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="dashbody">
<div><img class="logo" src="/static/logo.png">
    <div class="dashinfo">
        <img class="usericon" src="/static/usericon.png">
    </div>
    <div class="dashinfo">
        <h2>Welcome {{ user.username }}, {{ user.role }}</h2>
    </div>

</div>

{% if user.role == 'teacher' %}
    <div class="pievienotmajasdarbu">
        <h3 class="dashh3">Pievienot mājasdarbu <br>
       Klase: {{ user.grade }}</h3>
        <form method="POST" action="/add_homework">

            <select class="regselect" name="subject">
                <option value="Matematika">Matemātika</option>
                <option value="LatviesuValoda">Latviešu valoda</option>
                <option value="AngluValoda">Angļu valoda</option>
                <option value="Literatura">Literatūra</option>
                <option value="VizualaMaksla">Vizuālā māksla</option>
                <option value="Etika">Ētika</option>
                <option value="Muzika">Mūzika</option>
                <option value="Majturiba">Mājurība</option>
            </select>

             <select class="regselect" name="day">
                <option value="Pirmdiena">Pirmdiena</option>
                <option value="Otrdiena">Otrdiena</option>
                <option value="Tresdiena">Trešdiena</option>
                <option value="Ceturtdiena">Ceturtdiena</option>
                <option value="Piektdiena">Piektdiena</option>
            </select>

            <input class="reginput1" type="text" name="homework" placeholder="Mājasdarbs" required>
            <br><br>
            <button class="regbutton" type="submit">Saglabāt</button>
        </form>
    </div>

{% endif %}
    
    <div class="pievienotmajasdarbu1">
        <h3 class="dashh3">{{ user.grade }} dienas grafiks</h3>

        {% for day in ['Pirmdiena','Otrdiena','Tresdiena','Ceturtdiena','Piektdiena'] %}
            <h3>{{ day }}</h3>

            {% for lesson in schedule %}
                {% if lesson.day == day and lesson.grade == user.grade %}
                    <p>
                        <strong>{{ lesson.subject }}</strong><br>
                        Mājasdarbs: {{ lesson.homework }}
                    </p>
                {% endif %}
            {% endfor %}

        {% endfor %}
    </div>



<div class="aregister1"> <a class="aregister" href="/logout">Logout</a></div>

</body>
</html>