<!DOCTYPE html>
<html>
<head>
    <title>PIESLĒGTIES</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bodyregistry">
    <img class="logoreg" src="/static/logo.png">
    <h2>PIESLĒGTIES</h2>
    <form class="regform" method="POST">
        <input class="reginput" type="text" name="username" placeholder="Lietotājvārds" required><br>
        <input class="reginput" type="password" name="password" placeholder="Parole" required><br>

        <button class="regbutton" type="submit">PIESLĒGTIES</button>
    </form>
    <a class="aregister" href="/register">IZVEIDOT KONTU</a>
</body>
</html>