<!DOCTYPE html>
<html>
<head>
    <title>REĢISTRĀCIJA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bodyregistry">
    <img class="logoreg" src="/static/logo.png">
    <h2>REĢISTRĀCIJA</h2>
    <form class="regform" method="POST">
        <input class="reginput" type="text" name="username" placeholder="Vārds, uzvārds" required><br>
        <input class="reginput" type="password" name="password" placeholder="Parole" required><br>

        <select class="regselect" name="role">
            <option value="student">Skolēns</option>
            <option value="teacher">Skolotājs</option>
        </select><br>

        <select class="regselect" name="grade">
            <option value="Grade1">1. klase</option>
            <option value="Grade2">2. klase</option>
            <option value="Grade3">3. klase</option>
            <option value="Grade4">4. klase</option>
        </select><br>

        <button class="regbutton" type="submit">REĢISTRĒTIES</button>
    </form>
    <a href="/login" class="aregister">JA IR KONTS, IELOGOJIES</a>
</body>
</html>